<%#= link_to "Destroy", feed_path(feed), :method => :delete, :confirm => "Do you really want to delete '#{feed.title_or_url}'?", :title => "Destroy '#{feed.title_or_url}'" %>

<div id="<%= dom_id(feed) %>" class="feed record clearfix <%#= feed_classes(feed) %>">
  <div class="summary clearfix">        
    <div class="info">
      <div class="details">
        <p>&nbsp;</p>
        <strong><%= active_check_box(feed) %> Active</strong>
      </div>
      <div class="count">
        <p>Items</p>
        <strong><%= feed.feed_items_count %></strong>
      </div>
      <div class="count">
        <p>Errors</p>
        <strong><%= feed.collection_errors_count %></strong>
      </div>
      <div class="count">
        <p>Last Error</p>
        <strong><%= format_date(feed.collection_errors.latest ? feed.collection_errors.latest.created_on : nil) %></strong>
      </div>
      <div class="date">
         <p>Created</p> 
         <strong><%= format_date(feed.created_on) %></strong>
      </div>
      <div class="date">
         <p>Last Updated</p> 
         <strong><%= format_date(feed.updated_on) %></strong>
      </div>
    </div>    

    <h4 class="clearfix"><%= feed_link(feed) %></h4>
  </div>
</div>