<% form_tag feeds_path, :id => "text_filter_form", :onsubmit => "return false" do -%>
  <%= search_field_tag "text_filter", params[:text_filter], :placeholder => t("collector.feeds.header.search_placeholder") %>
<% end -%>

<div class="order clearfix">
  <label><%= t("collector.general.sort_label") %></label>
  <select id="order">
    <option value="title"><%= t("collector.feeds.header.sort.title") %></option>
    <option value="active"><%= t("collector.feeds.header.sort.active") %></option>
    <option value="feed_items_count"><%= t("collector.feeds.header.sort.feed_items_count") %></option>
    <option value="collection_errors_count"><%= t("collector.feeds.header.sort.collection_errors_count") %></option>
    <option value="collection_errors_created_on"><%= t("collector.feeds.header.sort.collection_errors_created_on") %></option>
    <option value="created_by"><%= t("collector.feeds.header.sort.created_by") %></option>
    <option value="created_on"><%= t("collector.feeds.header.sort.created_on") %></option>
    <option value="updated_on"><%= t("collector.feeds.header.sort.updated_on") %></option>
  </select>
  <%= link_to_function "<span class='asc'>#{I18n.t("collector.sort_direction.ascending")}</span><span class='desc'>#{I18n.t("collector.sort_direction.descending")}</span>", "", :id => "direction" %>
</div>

<div class="toolbar right">
  <div class="group">
    <label><%= t("collector.general.show_label") %></label>
    <%= rounded_button_function t("collector.feeds.header.show_all"),        "", :icon => "all",        :id => "mode_all", :class => "first" %>
    <%= rounded_button_function t("collector.feeds.header.show_duplicates"), "", :icon => "duplicates", :id => "mode_duplicates" %>
  </div>
</div>
