<tr class="<%= cycle('odd', 'even') %>">
  <td><%= link_to spider_result.feed.title, feed_path(spider_result.feed) %></td>
  <td><%= link_to truncate(spider_result.url, :length => 50), spider_result.url, :target => '_blank' %></td>
  <td><%= spider_result.failed? ? t("collector.general.no") : t("collector.general.yes") %></td>
  <td><%= spider_result.feed_item_id.nil? ? t("collector.general.no") : t("collector.general.yes") %></td>
  <td><%= spider_result.scraper or t("collector.general.none") %></td>
  <td><%= format_date spider_result.created_at %></td>
  <td><%= link_to image_tag('show.png'), spider_path(spider_result) %></td>
</tr>
