<h3><%= t("collector.spider.header.scraper_statistics") %></h3>
<%= t("collector.spider.header.scraper_statistics_explanation") %>
    
<table class="veerle">
  <tr>
    <th><%= t("collector.spider.header.scraper") %></th>
    <th><%= t("collector.spider.header.items_scraped") %></th>
  </tr>
  <% @stats.each do |stat| -%>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= stat.scraper or t("collector.spider.not_scraped") %></td>
      <td><%= stat.count %></td>
    </tr>
  <% end -%>    
</table>

<h3><%= t("collector.spider.header.failed_spidering_statistics") %></h3>
<p><%= t("collector.spider.header.failed_spidering_statistics_explanation") %></p>

<table class="veerle">
  <tr>
    <th><%= t("collector.spider.header.feed") %></th>
    <th><%= t("collector.spider.header.failed_attempts") %></th>
  </tr>
  <% @unscrapable_feeds.each do |feed| -%>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= link_to feed.feed.title, feed_path(feed.feed) %></td>
      <td><%= feed.count %></td>
    </tr>
  <% end -%>
</table>