<% form_tag test_spiders_path, :method => :post do -%>
  <fieldset>
    <legend><%= t("collector.spider.header.testing") %></legend>
    <%= t("collector.spider.header.testing_explanation", :formats => Spider.scrapers.map {|s| %|"#{s.name}"| }.to_sentence(:skip_last_comma => true)) %>
    <p>
      <label for="url"><%= t("collector.spider.header.url") %></label>
      <%= text_field_tag :url, '', :size => 50 %>
      <%= submit_tag t("collector.spider.test_submit") %>
    </p>
  </fieldset>
<% end -%>
