<table class="veerle">
  <thead>
    <tr>
      <th><%= t("collector.collection_job.feed") %></th>
      <th><%= t("collector.collection_job.items") %></th>
      <th><%= t("collector.collection_job.response_code") %></th>
      <th><%= t("collector.collection_job.etag") %></th>
      <th><%= t("collector.collection_job.last_modified") %></th>
      <th><%= t("collector.collection_job.user") %></th>
      <th><%= t("collector.collection_job.system") %></th>
      <th><%= t("collector.collection_job.real") %></th>
      <th><%= t("collector.collection_job.started") %></th>
      <th><%= t("collector.collection_job.completed") %></th>
    </tr>
  </thead>
  <tbody id="collection_jobs">
    <%- collection_jobs.each do |collection_job| -%>
      <%= render :partial => 'collection_jobs/collection_job_with_title', :locals => { :collection_job => collection_job } %>
    <%- end -%>
  </tbody>
</table>