<div id="<%= dom_id(collection_summary) %>" class="collection_summary record clearfix <%= collection_summary.status %>">
  <div class="summary clearfix">        
    <div class="info">
      <div class="date">
         <p><%= t("collector.collection_summary.header.completed_at") %></p>
         <strong><%= format_date collection_summary.completed_on %></strong>
      </div>
      <div class="duration">
         <p><%= t("collector.collection_summary.header.duration") %></p>
         <strong><%= collection_summary.duration %></strong>
      </div>
      <div class="count">
        <p><%= t("collector.collection_summary.header.items") %></p>
        <strong><%= collection_summary.item_count %></strong>
      </div>
      <div class="count">
        <p><%= t("collector.collection_summary.header.errors") %></p>
        <strong><%= collection_summary.collection_errors.count %></strong>
      </div>
      <div class="count">
        <p><%= t("collector.collection_summary.header.completed") %></p>
        <strong><%= collection_summary.collection_jobs.completed.count %></strong>
      </div>
      <div class="count">
        <p><%= t("collector.collection_summary.header.pending") %></p>
        <strong><%= collection_summary.collection_jobs.pending.count %></strong>
      </div>
    </div>    

    <h4>
      <%= link_to format_date(collection_summary.created_on), collection_summary %>
    </h4>
  </div>
</div>
