<div class="order clearfix">
  <label><%= t("collector.general.sort_label") %></label>
  <select id="order">
    <option value="created_on"><%= t("collector.collection_summary.header.started_at") %></option>
    <option value="completed_on"><%= t("collector.collection_summary.header.completed_at") %></option>
    <option value="duration"><%= t("collector.collection_summary.header.duration") %></option>
    <option value="item_count"><%= t("collector.collection_summary.header.items") %></option>
    <option value="error_count"><%= t("collector.collection_summary.header.errors") %></option>
  </select>
  <%= link_to_function "<span class='asc'>#{ I18n.t('collector.sort_direction.ascending') }</span><span class='desc'>#{ I18n.t('collector.sort_direction.descending') }</span>", "", :id => "direction" %>
</div>
