<div class="toolbar right">
  <div class="group">
    <label>Sort</label>

    <%= rounded_button_function "Items",     "", :icon => "", :id => "order_item_count", :class => "first order" %>
    <%= rounded_button_function "Errors",    "", :icon => "", :id => "order_errors_count", :class => "order" %>
    <%= rounded_button_function "Started",   "", :icon => "", :id => "order_created_on", :class => "order" %>
    <%= rounded_button_function "Completed", "", :icon => "", :id => "order_completed_on", :class => "order" %>
    <%= rounded_button_function "Duration",  "", :icon => "", :id => "order_duration", :class => "order" %>
  </div>
</div>
