<table class="veerle">
  <tr>
    <th><%= t("collector.failed_operation.action") %></th>
    <th><%= t("collector.failed_operation.item_type") %></th>
    <th><%= t("collector.failed_operation.item_id") %></th>
    <th><%= t("collector.failed_operation.error_code") %></th>
    <th><%= t("collector.failed_operation.message") %></th>
  </tr>
  <% for failed_operation in failed_operations -%>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= failed_operation.item_cache_operation.action %></td>
      <td><%= failed_operation.item_cache_operation.actionable_type %></td>
      <td><%= failed_operation.item_cache_operation.actionable_id %></td>
      <td><%= failed_operation.code %></td>
      <td><%= failed_operation.message %></td>
    </tr>
  <% end %>
</table>
