<% content_for :header_controls do -%>
  <div class="toolbar right">
    <%= rounded_button_link 'New Item Cache', new_item_cache_path, :icon => "add" %>
  </div>
<% end -%>

<table class="data_table">
  <tr>
    <th>Cache URI</th>
    <th>Errors</th>
    <th></th>
  </tr>
  <% for item_cache in @item_caches %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= link_to item_cache.base_uri, item_cache.base_uri %></td>
      <td><%= link_to item_cache.failed_operations.size, item_cache_failed_operations_path(item_cache) %></td>
      <td>
        <%= link_to 'Edit', edit_item_cache_path(item_cache) %> |
        <%= link_to 'Destroy', item_cache, :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>
