<% content_for :body, "item_caches" %>

<% content_for :header_controls do -%>
  <div class="toolbar">
    <%= rounded_button_link t("collector.general.edit"), edit_item_cache_path(@item_cache), :icon => "edit" %>
  </div>
  <div class="toolbar right">
    <%= rounded_button_link t("collector.general.destroy"), @item_cache, :confirm => t("collector.general.are_you_sure"), :method => :delete, :icon => "destroy" %>
  </div>
<% end -%>

<%= render :partial => "item_cache", :locals => { :item_cache => @item_cache } %>

<% if @item_cache.failed_operations.any? %>
  <h3><%= t("collector.item_cache.failed_operations") %></h3>
  <%= render :partial => 'failed_operations/failed_operations', :locals => { :failed_operations => @failed_operations } %>
  
  <%= will_paginate @failed_operations %>
<% end -%>
