<ul class="help">
  <li><%= t("collector.about.help.item1") %></li>
  <li><%= t("collector.about.help.item2") %></li>
  <li><%= t("collector.about.help.item3") %></li>
  <li><%= t("collector.about.help.item4") %></li>
  <li><%= t("collector.about.help.item5") %></li>
  <li><%= t("collector.about.help.item6") %></li>
  <li><%= t("collector.about.help.item7") %></li>
  <li><%= t("collector.about.help.item8") %></li>
</ul>